Resources:
    AWSEBSecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: ELB SecurityGroup for ElasticBeanstalk environment.
            SecurityGroupIngress:
                - FromPort: 80
                  ToPort: 80
                  IpProtocol: tcp
                  CidrIp : 0.0.0.0/0
                - FromPort: 443
                  ToPort: 443
                  IpProtocol: tcp
                  CidrIp : 0.0.0.0/0
                - FromPort: 9100
                  ToPort: 9100
                  IpProtocol: tcp
                  CidrIp : <PROMETHEUS_IP>
                - FromPort: 8080
                  ToPort: 8080
                  IpProtocol: tcp
                  CidrIp : <PROMETHEUS_IP>
