option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 300
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 300
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: DeregistrationDelay
    value: 300
